In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import re
import nltk
import string
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer, WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
import xgboost as xgb
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score, recall_score, roc_auc_score

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/entbappy/Branching-tutorial/refs/heads/master/tweet_emotions.csv')

df.head()

     tweet_id   sentiment                                            content
0  1956967341       empty  @tiffanylue i know  i was listenin to bad habi...
1  1956967666     sadness  Layin n bed with a headache  ughhhh...waitin o...
2  1956967696     sadness                Funeral ceremony...gloomy friday...
3  1956967789  enthusiasm               wants to hang out with friends SOON!
4  1956968416     neutral  @dannycastillo We want to trade with someone w...

In [3]:
# delete tweet id
df.drop(columns=['tweet_id'],inplace=True)
df

        sentiment                                            content
0           empty  @tiffanylue i know  i was listenin to bad habi...
1         sadness  Layin n bed with a headache  ughhhh...waitin o...
2         sadness                Funeral ceremony...gloomy friday...
3      enthusiasm               wants to hang out with friends SOON!
4         neutral  @dannycastillo We want to trade with someone w...
...           ...                                                ...
39995     neutral                                   @JohnLloydTaylor
39996        love                     Happy Mothers Day  All my love
39997        love  Happy Mother's Day to all the mommies out ther...
39998   happiness  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...
39999        love  @mopedronin bullet train from tokyo    the gf ...

[40000 rows x 2 columns]

In [4]:
final_df = df[df['sentiment'].isin(['happiness','sadness'])] #making just two sentiments two make task simple

In [5]:
final_df.head()

  sentiment                                            content
1   sadness  Layin n bed with a headache  ughhhh...waitin o...
2   sadness                Funeral ceremony...gloomy friday...
6   sadness  I should be sleep, but im not! thinking about ...
8   sadness            @charviray Charlene my love. I miss you
9   sadness         @kelcouch I'm sorry  at least it's Friday?

In [6]:
final_df.sample(5)

       sentiment                                            content
21154  happiness                             chill`N witH tHE BABEz
37761  happiness                  the sun is shinning! im off out!!
6602   happiness  @indiepixie omg a roach was in my room for the...
32476  happiness  Choir banquet was more than I could've ever dr...
7055     sadness             Regrettin some of the decisions I made

In [7]:
final_df.shape

(10374, 2)

In [8]:
final_df['sentiment'].replace({'happiness':1, 'sadness':0},inplace=True)

C:\Users\btirk\AppData\Local\Temp\ipykernel_14712\4156243374.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['sentiment'].replace({'happiness':1, 'sadness':0},inplace=True)
C:\Users\btirk\AppData\Local\Temp\ipykernel_14712\4156243374.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  final_df['sentiment'].replace({'happiness':1, 'sadness':0},inplace=True)
C:\Users\btirk\AppData\Local\Temp\ipykernel_14712\4156243374.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['sentiment'].replace({'happiness':1, 'sadness':0},inplace=True)

In [9]:
final_df.sample(5)

       sentiment                                            content
39383          0  Basil will be the highlight of my day. I've ju...
2372           0              aww only 15minutes left of family guy
24146          1    weather starting to be better  So just SHINE **
9550           0         in accounting class ; then detention after
21693          0  Can't sleep but is happy that the Fugees are k...

In [10]:
final_df.head()

   sentiment                                            content
1          0  Layin n bed with a headache  ughhhh...waitin o...
2          0                Funeral ceremony...gloomy friday...
6          0  I should be sleep, but im not! thinking about ...
8          0            @charviray Charlene my love. I miss you
9          0         @kelcouch I'm sorry  at least it's Friday?

In [11]:
train_data, test_data = train_test_split(final_df, test_size=0.2, random_state=42)

In [12]:
train_data

       sentiment                                            content
23531          0  &quot;My problem isn't that I miss you... 'cau...
8051           0  That's it? It's done already? This is one proo...
11499          0  I am so hungry! And there is no food for me to...
31288          1  Feet hurt...finally in bed...will not forget t...
18561          0                                     really ill atm
...          ...                                                ...
21697          1  @chocolatesuze yes yes you should! Especially ...
19445          0  @kickzfadayz Our boy better get it in tonight!...
20216          1             tafe was actually quite good. for once
3258           0  10 minutes to boarding; 14 hours to home. no w...
27810          0  Intel gfx driver situation much better with re...

[8299 rows x 2 columns]

In [13]:
test_data

       sentiment                                            content
11535          0   looks like we're rained out for weekend climbing
32287          0  Hi Everyone miss me much?  muahhhhhhhhhhhhhhhh...
17534          0  rode the moped to the mall. fun stuff, its fli...
4696           0  gutted!!! vodafone wont repair my faulty Samsu...
23706          1             @shadowowns aww, &lt;3 why thank youu.
...          ...                                                ...
38000          1                          @russellburnham  nice one
1540           0  Tired. About to climb into bed and fall asleep...
38031          1  @Jadeyyg http://twitpic.com/4wrxq - whens your...
14702          0  @leirastorm  That's sucky. We'll miss you bein...
22007          1  I've got great expectations of tomorrow  It's ...

[2075 rows x 2 columns]

### Data Preprocessing

In [14]:
nltk.download('wordnet')
nltk.download('stopwords')

def lemmatization(text):
    lemmatizer= WordNetLemmatizer()

    text = text.split()

    text=[lemmatizer.lemmatize(y) for y in text]

    return " " .join(text)

def remove_stop_words(text):
    stop_words = set(stopwords.words("english"))
    Text=[i for i in str(text).split() if i not in stop_words]
    return " ".join(Text)

def removing_numbers(text):
    text=''.join([i for i in text if not i.isdigit()])
    return text

def lower_case(text):

    text = text.split()

    text=[y.lower() for y in text]

    return " " .join(text)

def removing_punctuations(text):
    ## Remove punctuations
    text = re.sub('[%s]' % re.escape("""!"#$%&'()*+,ØŒ-./:;<=>ØŸ?@[\]^_`{|}~"""), ' ', text)
    text = text.replace('Ø›',"", )

    ## remove extra whitespace
    text = re.sub('\s+', ' ', text)
    text =  " ".join(text.split())
    return text.strip()

def removing_urls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)

def remove_small_sentences(df):
    for i in range(len(df)):
        if len(df.text.iloc[i].split()) < 3:
            df.text.iloc[i] = np.nan

def normalize_text(df):
    df.content=df.content.apply(lambda content : lower_case(content))
    df.content=df.content.apply(lambda content : remove_stop_words(content))
    df.content=df.content.apply(lambda content : removing_numbers(content))
    df.content=df.content.apply(lambda content : removing_punctuations(content))
    df.content=df.content.apply(lambda content : removing_urls(content))
    df.content=df.content.apply(lambda content : lemmatization(content))
    return df

def normalized_sentence(sentence):
    sentence= lower_case(sentence)
    sentence= remove_stop_words(sentence)
    sentence= removing_numbers(sentence)
    sentence= removing_punctuations(sentence)
    sentence= removing_urls(sentence)
    sentence= lemmatization(sentence)
    return sentence

<>:32: SyntaxWarning: invalid escape sequence '\]'
<>:36: SyntaxWarning: invalid escape sequence '\s'
<>:32: SyntaxWarning: invalid escape sequence '\]'
<>:36: SyntaxWarning: invalid escape sequence '\s'
C:\Users\btirk\AppData\Local\Temp\ipykernel_14712\2711691001.py:32: SyntaxWarning: invalid escape sequence '\]'
  text = re.sub('[%s]' % re.escape("""!"#$%&'()*+,ØŒ-./:;<=>ØŸ?@[\]^_`{|}~"""), ' ', text)
C:\Users\btirk\AppData\Local\Temp\ipykernel_14712\2711691001.py:36: SyntaxWarning: invalid escape sequence '\s'
  text = re.sub('\s+', ' ', text)
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\btirk\AppData\Roaming\nltk_data...
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\btirk\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [15]:
normalized_sentence("That's it? It's done already? This is one")

'that s it done already one'

In [16]:
train_data = normalize_text(train_data)
test_data = normalize_text(test_data)

In [17]:
train_data

       sentiment                                            content
23531          0          quot my problem miss you cause don t quot
8051           0  that s it done already one proof there s nothi...
11499          0                                  hungry food steal
31288          1  foot hurt finally bed will forget crunch over ...
18561          0                                     really ill atm
...          ...                                                ...
21697          1  chocolatesuze yes yes should especially wine m...
19445          0                 kickzfadayz boy better get tonight
20216          1                           tafe actually quite good
3258           0              minute boarding hour home window seat
27810          0  intel gfx driver situation much better recent ...

[8299 rows x 2 columns]

### feature engineering

In [19]:
X_train = train_data['content'].values
y_train = train_data['sentiment'].values

X_test = test_data['content'].values
y_test = test_data['sentiment'].values

In [20]:
# Apply Bag of Words (CountVectorizer)
vectorizer = CountVectorizer()

# Fit the vectorizer on the training data and transform it
X_train_bow = vectorizer.fit_transform(X_train)

# Transform the test data using the same vectorizer
X_test_bow = vectorizer.transform(X_test)

In [21]:
train_df = pd.DataFrame(X_train_bow.toarray())

train_df['label'] = y_train
train_df.head()

,0,1,2,3,4,5,6,7,8,9,...,14223,14224,14225,14226,14227,14228,14229,14230,14231,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Model building

In [23]:
from sklearn.metrics import accuracy_score, classification_report

In [24]:
# Define and train the XGBoost model
xgb_model = xgb.XGBClassifier(use_label_encoder=False, eval_metric='mlogloss')
xgb_model.fit(X_train_bow, y_train)

# Make predictions
y_pred = xgb_model.predict(X_test_bow)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

print("Accuracy:", accuracy)
print("Classification Report:\n", classification_rep)

d:\bybappy\mlfow\venv\Lib\site-packages\xgboost\training.py:183: UserWarning: [11:12:46] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

Accuracy: 0.771566265060241
Classification Report:
               precision    recall  f1-score   support

           0       0.75      0.83      0.79      1060
           1       0.80      0.71      0.75      1015

    accuracy                           0.77      2075
   macro avg       0.77      0.77      0.77      2075
weighted avg       0.77      0.77      0.77      2075

#### Model evaluation

In [25]:
# Make predictions
y_pred = xgb_model.predict(X_test_bow)
y_pred_proba = xgb_model.predict_proba(X_test_bow)[:, 1]

# Calculate evaluation metrics
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
auc = roc_auc_score(y_test, y_pred_proba)

In [26]:
print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"AUC: {auc}")

Precision: 0.7988950276243094
Recall: 0.7123152709359606
AUC: 0.8595775629705363